@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500&display=swap');
:root{
  --primary-text-color: #000;
  --primary-color-g: 	#089000;
  --primary-color-b: #eaa153;
  /* --btn-color-default:;
  --btn-color-activated:; */
}

/******* BODY ******/
body{
font-family: "Poppins" sans-serif;
}



/************** NAVBAR *****************/
nav{
  background-color: var(--primary-color-g)!important ;

}

nav a.nav-link {
font-weight: 500;
letter-spacing: 0.0375rem;
cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
color: var(--primary-text-color) !important;
padding: 0.1rem;
border-top: 0.1rem var(--primary-color-g);
font-size: 1.2rem;

} 

nav ul a{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:hover{
  background-color: var(--primary-color-b);
  padding: 0.3rem;
  border-radius: 0.3rem;
}

/************** HEADER *****************/

.header-wrapper{
  position: relative;
  background: url(images/bg-practice-react.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;

}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.main-info h1{
  color: orange;
  text-transform: uppercase;
  font-family: "Poppins" sans-serif;
}

/*------- TYPED TEXT ------*/

.typed-text{
  font-size: 2rem;
  color: orange;
}